
/* Alteração do fundo e fonte */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    color: #333;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container centralizado */

.container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

/* Título */

h1 {
    color: #1e3a8a;
    margin-bottom: 20px;
}

/* Formulário */

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Inputs */

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Botão */

button {
    padding: 12px;
    background-color: #1e3a8a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0f204d;
}

/* Link para lista */

a{
    margin-top: 15px;
    display: inline-block;
    color: #1e3a8a;
}
a:hover{
    text-decoration: underline;
}


